.main{
      background: linear-gradient(to right,rgba(255, 255, 255, 0.066),rgb(0, 0, 0)), url("./hjkjgf.jpg");
      height: 50vh;
      background-size: cover;
      background-position: center;
      transform: scaleX(-1);
}
.container{
      transform: scaleX(-1);
      color: aqua;

}
/* ========================================================================== */
.second-banner{
      height: 50vh;
      width: 50%;
      background-image: linear-gradient( to right ,rgba(0, 0, 0, 0.512),rgb(255, 10, 10)), url(./cover.jpg);
      background-position: center;
      background-size: cover;
}
.second-banner h1{
      text-align: center;
      padding-top: 100px;
      color: azure;
}
/* =========================================================== */
.third-banner{
      height: 50vh;
      width: 50%;
      margin-left: auto;
      background-image: linear-gradient( to right bottom , rgba(0, 128, 0, 0.525),rgba(0, 0, 0, 0.941),rgba(255, 10, 10, 0.71)), url(./hjkjgf.jpg);
      background-position: center;
      background-size: cover;
}
.third-banner h1{
      text-align: center;
      padding-top: 100px;
      color: azure;
}
/* ======================================================================= */
.fort-banner{
      height:50vh;
      width: 50%;
      background-image: linear-gradient( to right top , rgba(255, 10, 161, 0.525),rgba(0, 0, 0, 0.941),rgb(10, 63, 255)), url(./cover.jpg);
      background-position: center;
      background-size: cover;
}
.fort-banner h1{
      text-align: center;
      padding-top: 100px;
      color: azure;
}
/* ======================================================= */
.fift-banner{
      height: 50vh;
      width: 50%;
      margin-left: auto;
      background-image: linear-gradient( 100deg , rgba(255, 10, 161, 0.525),rgba(0, 0, 0, 0.941),rgb(10, 63, 255)), url(./cover.jpg);
      background-position: center;
      background-size: cover;
}
.fift-banner h1{
      text-align: center;
      padding-top: 100px;
      color: azure;
}
/* ========================================= */
.six-banner{
      height: 70vh;
      width: 50%;
      background: linear-gradient(red 60%, black 40%, gray);
      background-size: cover;
}
.six-banner h1{
      text-align: center;
      padding-top: 100px;
      color: azure;
}
/* ======================================================================== */
.saven-banner{
      height: 70vh;
      width: 50%;
      margin-left: auto;
      background: repeating-linear-gradient(red 30%, black 50% , rgb(229, 3, 3) 40%);
      background-size: cover;
}
.saven-banner {
      text-align: center;
      padding-top: 100px;
      color: azure;
}

/* =================================radialGradient */
.eight-banner{
      height: 400px;
      width: 600px;
      margin: auto;
      border: 2px solid black;
      background: radial-gradient(red, black, green, pink );
}
.nine-banner{
      height: 400px;
      width: 600px;
      margin: auto;
      border: 2px solid black;
      background: radial-gradient(circle,red, black 50%, green, pink );
}
.ten-banner{
      height: 400px;
      width: 600px;
      margin: auto;
      border: 2px solid black;
      background: radial-gradient(closest-side at 20% 30%,red, black 50%, green, pink );
}
.elevien-banner{
      height: 400px;
      width: 600px;
      margin: auto;
      border: 2px solid black;
      background: radial-gradient(farthest-side at 20% 50%,red, rgb(171, 250, 0) 50%, green, pink );
}
.twile-banner{
      height: 400px;
      width: 600px;
      margin: auto;
      border: 2px solid black;
      background: repeating-radial-gradient(red 5%, yellow 8%, green 10% );
}